*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-size: 3em;
    font-weight: 500;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 15px;
    top: 0;
    left: 0;
    transition: 1.5s;
}

.gaveta {
    text-align: center;
}

.aba{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 20px 20px 40px 10px grey;
    border-radius: 10px;
    transition: 1.50s;
}

.container.active{
   left: -38%;
   transition: 1.5s ease;
   background-color: rgb(54, 243, 17);
}

/* .container.active .aba {
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px white;
    transition: 0.5s;
    transform: rotate(-179deg);
} */

.container.active .aba {
    transition: 1.50s;
    transform: rotate(360deg);
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px white;
}

.aba img {
    width: 50px;
}








